*{
  padding: 0;
  margin: 0;
}

body{
  font-family: sans-serif;
}

#head{
  position: fixed;
  width: 100%;
  z-index: 1;
}

#section {
  padding-top: 8em;
  
}
.section2{
  padding-top: 8em;
}

#container{
  background: url('img/background.jpg');
  position: relative;
}

#layer{
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

#logo{
  color: #999999;
  font-size: 3.5em;
  margin: .1em;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.left-column{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
}

.right-column{
  text-align: center;
  margin-top: 5em;
}


div #img{
  width: 80%;
  border-radius: 100%;
  padding: .1em;
  position: relative;
  border: .2em solid #999999;
  background: linear-gradient(to right, #999999, #999999);
}
p{
  font-size: 1em;
  font-weight: 300;
  color: #999999;
  text-align: center;
}

div h1{
  text-align: center;
  font-size: 2em;
  color: #999999;
  padding: .3em .5em;
}

div h2{
  color: #999999;
  font-size: 1.5em;
  text-align: center;
}

div h3{
  color: #999999;
}

div h5{
  color: #999999;
  font-weight: 700;
}


div h6{
  color: #999999;
  
  
}

.row{
  justify-content: center;
  align-items: center;
  margin-top: .1em;
  text-align: center;
}


div .card{
  border: .1em solid #999999;
  margin: 1em;
}


.fab{
  text-align: center;
  font-size: 2.5em;
  margin: .1em;
}

.c{
  font-size: 2.5em;
  margin-top: 1em;
}

.text{
  position: relative;
  top: .5em;
}

div a{
  font-weight: bold;
  font-size: .8em;
  color: #999999;
  text-decoration: none;
}

div a:hover{
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  color: #d9d9d9;
}

#views{
  width: 80%;
  height: auto;
}

#top{
  color: #ffffff;
}